/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /* common responsive styles  */
  .container {
    max-width: 100%;
    margin: 10px 10px 0 10px;
  }
  body {
    font-size: 0.875rem;
  }
  .section-desc {
    width: auto;
  }
  .section-title {
    font-size: 1.6rem;
  }
  .btn{
    font-size: 0.8rem;
    padding: 15px;
  }

  /* header responsive styles  */
  .menu {
    display: none;
  }
  .logo img {
    width: 70%;
  }
  .cart ul li a {
    font-size: 1rem;
  }

  /* banner responsive styles  */
  .banner{
    flex-direction: column-reverse;
    margin: 10px 0 60px 0;
  }
  .banner-text {
    padding-top: 30px;
    margin: 0 10px;
  }
  .banner-text h1 {
    font-size: 2rem;
  }
  .banner-image {
    padding-top: 0;
  }

  /* plants responsive styles  */
  .plants{
    margin-bottom: 60px;
  }
  .plants-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .plants-item{
    width: auto;
    height: auto;
  }
  .plants-item-text h4{
    font-size: 1rem;
  }
  .plants-item-text h5{
    font-size: 1rem;
  }

  /* plants-lover responsive styles  */
  .plants-lover{
    flex-direction: column;
    margin-bottom: 60px;
  }
  .plants-lover-text h2{
    font-size: 1.6rem;
  }
  .badge{
    display: none;
  }

  /* plants-lover responsive styles  */
  .plants-lover{
    flex-direction: column;
    margin-bottom: 60px;
  }
  .plants-lover-text h2{
    font-size: 1.6rem;
  }
  .badge{
    display: none;
  }

  /* latest-deals responsive start */
  .latest-deals{
    margin-bottom: 60px;
  }
  .latest-deals-container{
    flex-direction: column;
    gap: 30px;
  }
  .latest-deals-left{
    flex-direction: column;
    gap: 30px;
  
  }
  .latest-deals-left-top, .latest-deals-left-bottom, .latest-deals-right{
    width: 310px;
    height: 170px;
  }
  .content-02{
    width: 260px;
    padding: 20px;
  }
  .content-02 h5{
    font-size: 1.25rem;
  }
  .content-02 a{
    font-size: 1rem;
  }
  .shop-now3 a{
    border-bottom: 1px solid white;
  }

  /* newsltr responsive start */
  .newsltr{
    height: 276px;
  }
  .newsltr-content{
    width: 270px;
  }
  .newsltr-content h2{
    display: none;
    font-size: 1.4rem;
  }
  #subscribe{
    width: 180px;
    font-size: 0.8rem;
    padding: 0 10px;
    margin-top: 90px;
  }
  .btn-subscribe{
    width: 90px;
    padding: 0 8px;
  }

  /* footer responsive styles  */
  .footer-content{
    flex-direction: column;
    gap: 40px;
  }
  .footer-content-left{
    width: 270px;
  }
  .footer-content-link1 ul li a, .footer-content-link2 ul li a{
    font-size: 1rem;
  }
  .footer-content-right{
    width: 210px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* common responsive styles  */
  .container {
    max-width: 540px;
  }
  .section-desc {
    width: 500px;
  }
  .section-title {
    font-size: 2.8rem;
  }

  /* header responsive styles  */
  .menu {
    display: none;
  }
  .logo img {
    width: 90%;
  }
  .cart ul li a {
    font-size: 1.2rem;
  }

  /* banner responsive styles  */
  .banner{
    flex-direction: column-reverse;
    margin-bottom: 80px;
  }
  .banner-text {
    padding-top: 30px;
  }
  .banner-text h1 {
    font-size: 3rem;
  }
  .banner-image {
    padding-top: 0;
  }

  /* plants responsive styles  */
  .plants{
    margin-bottom: 80px;
  }
  .plants-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .plants-item{
    width: auto;
    height: auto;
  }

  /* plants-lover responsive styles  */
  .plants-lover{
    flex-direction: column;
    margin-bottom: 60px;
  }
  .plants-lover-text h2{
    font-size: 2.8rem;
  }
  .badge{
    display: none;
  }

  /* latest-deals responsive start */
  .latest-deals{
    margin-bottom: 60px;
  }
  .latest-deals-container{
    flex-direction: column;
    gap: 30px;
  }
  .latest-deals-left{
    flex-direction: column;
    gap: 30px;
  
  }
  .latest-deals-left-top, .latest-deals-left-bottom, .latest-deals-right{
    width: 540px;
    height: 280px;
  }
  .content-02{
    width: 300px;
  }
  .content-02 h5{
    font-size: 1.25rem;
  }
  .content-02 a{
    font-size: 1rem;
  }
  .shop-now3 a{
    border-bottom: 1px solid white;
  }

   /* newsltr responsive start */
  .newsltr{
    height: 300px;
  }
  .newsltr-content{
    width: 520px;
  }
  .newsltr-content h2{
    display: none;
    font-size: 2rem;
  }
  #subscribe{
    width: 360px;
    margin-top: 90px;
  }
  .btn-subscribe{
    width: 160px;
    padding: 0 20px;
  }

  /* footer responsive styles  */
  .footer-content{
    flex-direction: column;
    gap: 40px;
  }
  .footer-content-left{
    width: 420px;
  }
  .footer-content-link1 ul li a, .footer-content-link2 ul li a{
    font-size: 1.2rem;
  }
  .footer-content-right{
    width: 230px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /* common responsive styles  */
  .container {
    max-width: 720px;
  }
  .section-desc {
    width: 680px;
  }

  /* header responsive styles  */
  .menu {
    display: none;
  }

  /* banner responsive styles  */
  .banner{
    flex-direction: column-reverse;
    margin-bottom: 80px;
  }
  .banner-text {
    padding-top: 30px;
  }
  .banner-text h1 {
    font-size: 3rem;
  }
  .banner-image {
    padding-top: 0;
  }

  /* plants responsive styles  */
  .plants{
    margin-bottom: 120px;
  }
  .plants-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .plants-item{
    width: auto;
    height: auto;
  }

  /* plants-lover responsive styles  */
  .plants-lover{
    flex-direction: column;
    margin-bottom: 80px;
  }
  .badge{
    display: none;
  }

  /* latest-deals responsive start */
  .latest-deals{
    margin-bottom: 80px;
  }
  .latest-deals-container{
    flex-direction: column;
    gap: 30px;
  }
  .latest-deals-left{
    flex-direction: column;
    gap: 30px;
  
  }
  .latest-deals-left-top, .latest-deals-left-bottom, .latest-deals-right{
    width: 570px;
    height: 300px;
  }
  .content-02{
    width: 300px;
  }
  .content-02 h5{
    font-size: 1.25rem;
  }
  .content-02 a{
    font-size: 1rem;
  }
  .shop-now3 a{
    border-bottom: 1px solid white;
  }

  /* newsltr responsive start */
  .newsltr{
    height: 376px;
  }
  .newsltr-content{
    width: 680px;
  }
  .newsltr-content h2{
    font-size: 2.6rem;
  }
  #subscribe{
    width: 490px;
  }

  /* footer responsive styles  */
  .footer-content{
    flex-direction: column;
    gap: 40px;
  }
  .footer-content-left{
    width: 500px;
  }
  .footer-content-right{
    width: 270px;
  }
  
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* common responsive styles  */
  .container {
    max-width: 960px;
  }

  /* banner responsive styles  */
  .banner-text {
    padding-top: 120px;
  }
  .banner-text h1 {
    font-size: 3rem;
  }
  .banner-image {
    padding-top: 65px;
  }

  /* plants responsive styles  */
  .plants-item{
    width: auto;
    height: auto;
  }

   /* plants-lover responsive styles  */
  .badge{
    top: -50px;
    left: 260px;
  }

  /* footer responsive styles  */
  .footer-content-link1 ul li a, .footer-content-link2 ul li a{
    font-size: 1.1rem;
  }

}

/* Extra large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* common responsive styles  */
  .container {
    max-width: 1100px;
  }

  /* plants responsive styles  */
  .plants-item{
    width: auto;
    height: auto;
  }

  /* plants-lover responsive styles  */
  .badge{
    top: -100px;
    left: 325px;
  }
}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
  
}
