/* font links */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* common styles start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
:root {
  --text-color: rgba(0, 0, 0, 0.5);
  --primary-color: #e9089e;
  --ash: #8987a1;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  color: var(--text-color);
  background-color: #f5f8ff;
}
img {
  width: 100%;
  display: block;
}
.section-title {
  font-family: "Noto Serif", serif;
  font-size: 3.125rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
.section-title span {
  color: var(--primary-color);
}
.section-desc {
  width: 888px;
  margin: 20px auto 50px;
  text-align: center;
}
.btn{
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--primary-color);
  padding: 20px 55px;
  border: none;
  cursor: pointer;
  transition: all .33s ease-in-out;
}
.btn:hover{
  background-color: #800557;
}
/* common styles end  */

/* header styles start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto 120px;
}
.logo{
  cursor: pointer;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 48px;
}
.menu ul li,
.cart ul li {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.menu ul li a,
.cart ul li a {
  text-decoration: none;
  color: var(--ash);
  transition: all 0.3s ease-in-out;
}
.cart ul li a{
  color: black;
}
.menu ul li:hover a {
  border-bottom: 1px solid var(--primary-color);
  color: black;
}
.cart ul {
  list-style: none;
}
.cart ul li:hover a {
  border-bottom: 1px solid var(--primary-color);
  color: black;
}
/* header styles end */

/* banner styles start  */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 120px;
}
.banner-text {
  flex: 1;
  padding-top: 160px;
}
.banner-text h1 {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-bottom: 15px;
}
.banner-text h1 span {
  color: var(--primary-color);
}
.banner-image {
  flex: 1;
  padding-top: 105px;
}
/* banner styles end */

/* plants styles start */
.plants{
  margin-bottom: 200px;
}
.plants-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}
.plants-item{
  width: 270px;
  height: 485px;
}
.plants-item-text{
  padding-top: 20px ;
  text-align: center;
}
.plants-item-text h4{
  font-size: 1.375rem;
  font-weight: 500;
  color: #111111;
}
.plants-item-text h5{
  font-size: 1.375rem;
  font-weight: bold;
  color: #111111;
  padding: 10px 0 20px;
}
/* plants styles end */

/* plants-lover styles start */
.plants-lover{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: relative;
  margin-bottom: 120px;
}
.plants-lover-image{
  flex: 1;
  position: relative;
}
.badge{
    position: absolute;
    top: -125px;
    left: 345px;
    width: 286px;
    height: 286px;
}
.plants-lover-text{
  flex: 1;
}
.plants-lover-text h2{
  font-family: "Noto Serif", serif;
  font-size: 3.125rem;
  font-weight: bold;
  color: black;
  padding-bottom: 20px;
}
.plants-lover-text ul{
  padding-left: 30px;
}
.plants-lover-text ul li{
  padding-bottom: 20px;
}
/* plants-lover styles end */